/* FONTS */

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebas/BebasNeueRegular.otf');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/codepro/SourceCodePro-Regular.ttf);
}
@font-face {
  font-family: 'BeerMoney';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BeerMoney/beer money.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
/* END OF FONTS */ 

/* GENERAL STYLES */
html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}
#main {
    overflow: hidden;
    padding-bottom: 100px;
}
.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.content {
    width: 1000px;
    margin: 0 auto;
}
.btn {
    background-color: inherit;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
}
.btn-success {
    background-color: #3e9c68;
    color: white;
    font-family: "Open Sans";
}
/* END GENERAL STYLES */

/* HEADER */
.mobile-menu {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width:  0;
    overflow: hidden;
    height: 100%;
    z-index: 1200;
    box-shadow: 2px 0 200px black;
    -webkit-box-shadow: 2px 0 200px black;
    -moz-box-shadow: 2px 0 200px black;
}
.mobile-menu .menu-links {
    width: 100%;
}
.mobile-menu .menu-links a {
    display: inline-block;
    width: 100%;
    font-size: 24px;
    font-family: Bebas;
    color: white;
    text-align: center;
    margin: 10px 0;
}
.mobile-menu a:hover {
    color: white;
}
.small-menu {
    position: absolute;
    z-index: 999;
    font-size: 30px;
    color: white;
    left: 20px;
    top: 4px;
}
.small-menu i {
    cursor: pointer;
}
header {
    z-index: 99;
    position: relative;
    background-color: #09010e;
    height: 100px;
} 
.top-profile {
    position: absolute;
    top: 10px;
    right: 4%;
    z-index: 99;
}
.top-profile a {
    display: inline-block;
    margin-right: 20px;
    color: #e2e2e2;
}
.top-profile a:hover {
    color: white;
}
.menu {
    width: 92%;
    margin-left: 4%;
    display: flex;
}
.menu .menu-links {
    overflow: hidden;
    width: 40%;
    padding-top: 35px;
}
.menu .menu-links a {
    display: inline-block;
    float: left;
    width: 25%;
    height: 31px;
    line-height: 100%;
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-family: "Bebas";
    font-size: 20px;
    border-bottom: 3px solid white;
    overflow: hidden;
}
.menu .menu-links a:hover {
    color: white;
    border-bottom: 3px solid #dab42a;
    text-decoration: none;
}
.logo {
    font-family: "Bebas";
    text-align: center;
    color: white;
    width: 20%;
    margin-top: 35px;
}
.logo a:hover, .logo a {
    color: white;
    text-decoration: none;
}
.logo h1 {    
    font-size: 50px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}
.cosmonaut-logo {
    position: absolute;
    width: 57px;
    height: 76px;
    bottom: 22px;
    left: 50%;
    margin-left: -28px;
    opacity: 0.7;
    z-index: 0;
}
.cosmonaut-logo img {
    width: 100%;
}
/* END OF HEADER */

/* ABOUT */
#about {
    position: relative;
    overflow: hidden;
    height: 500px;
    background-image: url(../public/SpaceBackground.jpg);
    background-size: 100% 100%;
}
.about-shadow {    
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 1px;
    border-width: 70px 133px 0px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3) rgba(136, 22, 22, 0) rgba(212, 0, 0, 0);
    margin-left: -133px;
}
#triangle { 
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
}
.about-center {
    width: 90%;
    margin: 0 auto;
    height: 500px;
}
.about-general {
    background-image: url(../public/Backgroud_image.png);
    background-size: 100% 113%;
    background-position: 0 -144px;
    background-repeat: no-repeat;
}
.moon {
    position: absolute;
    width: 52%;
    height: 95%;
    left: 24%;
    opacity: 0.3;
    background: url(../public/MOON.png) no-repeat center;
    background-size: 100%;
}
.cosmonaut-about {
    position: absolute;
    width: 20%;
    left: 40%;
    height: 75%;
    bottom: 0;
    background: url(../public/Cosmonaut.png) no-repeat center;
    background-size: 100%;
    overflow: hidden;
    opacity: 0.67;
}
.about-content {
    width: 600px;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
}
.about-content h2 {
    font-family: Source Code Pro;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
}
.about-content hr {
    background-color: white;
    height: 3px;
    width: 60%;
    margin: 0 auto;
    -webkit-transform: skew(-40deg);
	   -moz-transform: skew(-40deg);
	     -o-transform: skew(-40deg);
}
.about-content p {
    font-family: BeerMoney;
    width: 60%;
    margin: 5px auto;
}
.about-content span, .about-content em, .about-content i {
    display: block;
}
.about-content em {
    color: #f7f72c;
    margin: 10px auto;
}
.about-content i {
    margin: 5px;
    font-size: 20px;
    animation-name: doubleArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.about-content button {
    background-color: transparent;
    border: 3px solid white;
    width: 40%;
    padding: 10px 0;
    line-height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 9;
    overflow: hidden
}
.about-content button span {
    font-family: Bebas;
    font-size: 24px;
    position: relative;
    color: white;
    z-index: 9;
}
.about-content button:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: white;
    transition: 0.05s all ease-in-out;
    -moz-transition: 0.05s all ease-in-out;
    -webkit-transition: 0.05s all ease-in-out;
    -o-transition: 0.05s all ease-in-out;
}
.about-content button:hover:after {
    top: 0;
}
.about-content button:hover span {
    color: #222;
}
/* END OF ABOUT */

/* CENTER */
#center, #center .content {
    overflow: hidden;
}
#center .content {
    position: relative;
    top: 30px;
}
#center .middle {
    width: 70%;
}
#center aside {
    position: absolute;
    width: 25%;
    right: 0;
    top: 0;
}
.main-post a {
    color: #222;
    text-decoration: none;
}
.main-post a:hover {
    text-decoration: underline;
}
.main-post h3 {
    font-family: Bebas;
    font-size: 36px;
    margin: 0;
}
.main-postImage {
    overflow: hidden;
    display: block;
    max-height: 400px;
}
.main-post img {
    width: 100%;
    height: auto;
}
.mob-latest-posts {
    font-family: Bebas;
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
}
/* POST INFO */
.post-info {
    font-family: "Bebas";
    margin: 3px 0 0;
    padding: 5px;
}
.main-post .post-info span {
    font-size: 18px;
}
.post-info span {
    margin-right: 30px;
    display: inline-block;
}
.post-info span i {
    font-size: 14px;
    margin-right: 5px;
}

/* List of Posts */
.mpp {
    border-top: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
    padding-bottom: 10px;
}
.mpp .post-info span {
    font-size: 14px;
}
.mppi {
    overflow: hidden;
    display: block;
    width: 40%;
    float: left;
}
.mppi img { 
    width: 100%;
}
.mppt {
    width: 55%;
    margin-left: 45%;
}
.mppt .label-single-post {
    margin-bottom: 10px;
}
.mppt .label-single-post a {
    color: #222;
    font-size: 20px;
    text-decoration: none;
}
.mppt .label-single-post a:hover {
    text-decoration: underline;
}
.mppt p, .mppt .label-single-post {
    font-family: 'Open Sans', sans-serif;
}
/* END OF CENTER */

/* ASIDE */
aside h3 {
    margin: 0;
    font-family: Bebas;
    font-size: 30px;
    color: #222;
    padding-bottom: 10px;
    border-bottom: 2px solid #e2e2e2;
}
.item-menu-news {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 15px;
    margin: 15px 0 0;
}
.item-menu-news a {
    font-size: 14px;
    color: #3a3a3a;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
.item-menu-news a:hover {
    color: black;
    font-weight: bold;
}
.most-likeable {
    margin-top: 50px;
}
/* Videos */
#videos {
    width: 100%;
    margin-top: 30px;
    border-top: 3px solid #383838;
    overflow: hidden;
    cursor: pointer;
    background-color: #f9f9f9;
}
#videos h2 {
    font-family: Bebas;
    font-size: 40px;
    text-align: center;
    cursor: auto;
}
.load-video {
    display: none;
}
.single-video {
    width: 20%;
    float: left;
    padding: 10px;
    overflow: hidden;
}
.single-video img, .image-thumbnail iframe {
    margin-left: -80px;
    height: 180px;
}
.image-thumbnail iframe video {
    cursor: pointer !important;
}
.image-thumbnail {
    height: 180px;
    width: 180px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s ease-out all;
    border: 10px solid transparent;
    position: relative;
    cursor: pointer;
}
.loading-preview {
    background-color: #ecd6d6;
    width: 100%;
    height: 100%;
    display: none;
}
.loading-preview #floatingCirclesG {
    top: 42px;
}
.image-thumbnail:hover {
    border: 10px solid #e40054;
}
.video-content {
    float: left;
}
.video-content-wrapper {
    width: 800px;
    overflow: hidden;
    margin: 20px auto;
}
.right-videos {    
    width: 220px;
    float: left;
    margin-left: 30px;
}
.right-videos figure, .right-videos img {
    width: 100%;
}
/* END OF ASIDE */

/* FOOTER */
footer {
    width: 100%;
    background-color: #222;
    overflow: hidden;
    padding: 10px 0;
}
footer .content {
    display: flex;
    align-items: center;
    overflow: hidden;
}
footer nav {
    width: 50%;
    overflow: hidden;
}
footer nav a {
    margin-right: 25px;
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-family: "Bebas";
}
footer #links {
    font-size: 18px;
}
footer #links a:hover {
    color: white;
    text-decoration: underline;
}
#socials {
    text-align: right;
}
#socials a {
    font-size: 32px;
}
#socials a:hover {
    color: #9db3ff;
}
/* END OF FOOTER */

/* POSTS PAGE */
.search-bar {
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    font-family: "Open Sans";
    font-size: 14px;
    color: #7d7777;
}
.search-bar input {
    padding: 5px 30px 5px 5px;
    border: 1px solid #afabab;
}
.search-bar input:focus, .search-bar button:focus, .search-bar select:focus {
    outline: 0;
}
.search-input button {
    position: relative;
    right: 31px;
    cursor: pointer;
    line-height: 23px;
    background-color: transparent;
    border: 0;
    border-left: 1px solid #e6d4d4;
    color: #222;
}
.sorting {
    position: absolute;
    right: 0;
    top: 0;
    height: 31px;
    width: 150px;
    background-color: transparent;
}
.comments {
    
}
/* Posts page */
.post_loading {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.post_loading i {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    font-size: 40px;
    color: #3a3a3a;
}
.posts {
    overflow: hidden;
}
.post {
    width: 32%;
    height: 240px;
    float: left;
    margin: 0 2% 20px 0;
    overflow: hidden;
}
.post:nth-child(3n) {
    margin: 0 0 20px;
}
.posts .post p {
    height: 40px;
}
.post .pi {
    display: block;
    height: 180px;
    overflow: hidden;
}
/* width bigger than height */
.wbth {
    min-width: 100%;
    height: 100%;
}
/* height bigger than width */
.hbtw {
    min-height: 100%;
    width: 100%;
}
.post p {
    margin: 5px auto 0;
    width: 96%;
}
.post p a {
    color: #222;
    text-decoration: none;
}
.post p a:hover {
    text-decoration: underline;
}
/* END OF POSTS PAGE */

/* Post Page */
article {
    position: relative;
}
.background-image {
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
 }
.post-content {
    width: 90%;
    overflow: hidden;
}
.post-content {
    margin: -100px 0 0 5%;
    z-index: 99;
    background-color: white;
    position: relative;
}
.post-left {
    padding: 2%;
    width: 74%;
    float: left;
    position: relative;
}
.post-title {
    margin: 0;
    font-size: 33px;
}
.post-like {
    cursor: pointer;
    color: black;
}
.post-like i {
    color: #222;
}
.post-like.liked i {    
    color: #30719e;
    font-weight: bold;
}
.post-info .post-like .likes-num {
    margin: 0;
    padding-left: 5px;
}
.post-like span {
    padding-right: 7px;
}
.post-left hr {
    height: 1px; 
    width: 100%;
    margin: 20px 0;
    background-color: rgba(195, 195, 195, 0.48);
    border: 0;
}
.post-left .post-info {
    padding-bottom: 0;
}
.posts-right {
    width: 20%;
    margin-left: 76%;
    margin-top: 2%;
    padding-left: 2%;
    border-left: 1px solid rgba(195, 195, 195, 0.48);
}
.prm {
    margin-bottom: 20px;
}
.prm a {
    padding: 5px 0;
    display: inline-block;
    width: 50%;
    text-align: center;
    color: black;
    text-decoration: none;
}
.prm a:nth-child(1) {
    float: left;
}
.prm .arp { 
    border-bottom: 2px solid rgba(188, 188, 70, 0.39);
}
.spr {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}
.spr img {
    width: 100%;
}
.ril {
    max-height: 250px;
    overflow: hidden;
}
.spr a {
    display: block;
}
.rpt {
    color: #222;
    text-decoration: none;
    margin-top: 5px;
}
.spr a:hover {
    text-decoration: underline;
}
.spr:last-child {
    border-bottom: 0;
}
/* End of Post Page */

/* Register Popup */
.wrap-popup {
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}
.popup {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999999;
    overflow: hidden;
}
.popup-register {
    width: 500px;
    margin: -250px 0 0 -250px;
    box-shadow: -1px 1px 3px black;
}
.popup-header {
    overflow: hidden;
    font-family: Bebas;
    font-size: 24px;
    text-align: center;
    box-shadow: 1px 1px 1px black;
}
.popup-header a {
    padding: 20px 0 10px;
    float: left;
    width: 50%;
    color: black;
    text-decoration: none;
}
.popup-header a:hover, .popup-header a:visited {
    text-decoration: none !important;
    color: inherit;
}
.active-popup {
    background-color: rgba(203, 203, 203, 0.2);
}
.login, .register {
    padding: 20px 30px 30px;
}
.form-group {
    margin-bottom: 20px;
}
.register {
    display: none;
}

/* Devise */
@import "bootstrap/grid.less";

.devise {
    padding: 20px;
}
/* end */

/* PROFILE PAGE */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
